/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: grey;
}

li{
  padding-bottom: 10px;
}

.popular-services{
  padding-left: 50px;

}

.services-block{
  padding-left: 20;
}


.bio-text{
  text-align: left;
  font-size: 25px;
  margin-left: 20px;
}

.services-list{
  font-size: 25px;
  margin: 0 10px;
  text-align: left;
}

.feature-text{
  font-size: 27px;
  color: white;
  padding-bottom: 60px;
}

.feature-title{
  font-size: 40px;
}

.container-fluid {
  text-align: center;

  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #333333;
  color: white;
  padding: 5px 10px;
  line-height: 1.2;
}

.navbar-brand {
  display: inline-block;
  margin-right: 15px; /* Add spacing between elements */
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-contact {
  color: white;
  font-size: 25px;
  padding: 15px;
}

.navbar-contact:hover {
  color: #FF4500;
}

.navbar-contact-text {
  color: #ECE4D7;
  font-size: 15px;
}

.whatsapp-logo {
  width: 20px;
}


.logo {
  width: 100px;
}

.logo-small-screen{
  width: 120px;
}


.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.big-nav-link:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  color: #FF4500;
}

/* Navbar Dropdown */
.big-dropdown-menu {
  display: none;
}

.big-dropdown-menu.show {
  display: block;
}

.big-dropdown:hover .big-dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #555555;
  padding: 10px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

.big-dropdown-menu a:hover {
  background-color: #555555;
  color: #FF4500;
  transform: scale(1.1);
}


/* Increase contrast and add text shadow */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 10px; /* Add padding for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow */
  font-size: 20px;
}
.carouselText{
  font-size: 30px;
  font-weight: bold;

}



/* Headings */
.big-heading {
  font-size: 3.15rem;
  line-height: 1.3;
  padding-top: 6%;
  padding-left: 3%;
  font-family: 'Montserrat', sans-serif;
}

.about-text {
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 3%;
  font-family: 'Lato', sans-serif;
}

.dark-section {
  background-color: #666666;
  color: white;
}

.footer-section {
  background-color: #333333;
  color: white;

}

.color-section{
  background-color: #804F00;
  color: white;
}

.light-section {
  background-color: grey;
  color: white;
  text-align: left;
  padding: 0 2% 0 0;}

  /* p.light-section{
    color: black;
  } */

.white-section {
  background-color: white;
  text-align: center;
  color: black;
    padding: 2%;
}

.form-section {
  background-color: #AAAAAA;
}

.features {
  padding: 3% 0;
}

/* Title Image */
.fireplace-img {
  width: 100%;
  right: 100%;
}

.fireplace-title-img {
  width: 100%;
}

.order-button {
  background-color: #B30000;
  border-radius: 50px;
  font-size: 30px;
  color: white;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.order-button:hover {
  background-color: white;
  color: #B30000;
}

.portfolio-button {
  background-color: white;
  border-radius: 50px;
  font-size: 25px;
  color: #B30000;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.portfolio-button:hover {
  background-color: #B30000;
  color: white;
}

.contact-button {
  background-color: #B30000;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
}

.contact-button:hover {
  background-color: white;
  color: #B30000;
}

.custom-list {
  text-align: left;
  padding-left: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.fireplace-icon {
  width: 25%;
}

.service-icon {
  padding-top: 2.5%;
  padding-bottom: 22px;
  width: 17%;
}


/* Contact Form */
.form-control {
  width: 170%;
}

.sidebar-text{
  color: white;
  font-size: 30px;

}

.sidebar-text:hover{
  color: white;
}

/* Update font size for offcanvas sidebar */
.offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 30px;
  padding-bottom: 50px;
}

.navbar-link {
  text-decoration: none;
}


.offcanvas-body .navbar-nav .nav-item .dropdown-item{
  font-size: 30px;
}

/* Increase the width of the offcanvas sidebar */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80vw; /* Adjust this value as needed */}


/* Update offcanvas body width to fill the sidebar */
.offcanvas-body {
  width: 100%;
}

.phone-logo{
  width: 100px
}
.whatsapp-logo {
  width: 80px; /* Adjust the width as needed */
}

.phone-logo-top{
  width: 100%;
}
.whatsapp-logo-top{
  width: 90%;
}

.location {
  font-size: 30px;
  color: white;
  margin-left: 15px; /* Add spacing between elements */
  margin-right: 15px;
}


/* Update font size for the toggle button */
.navbar-toggler {
  font-size: 60px;

}

/* Media Query for smaller screens */
@media (max-width: 1050px) {
  /* .dark-section {
    position: static;
    text-align: center;
        width: auto;
  } */
  .light-section {
    padding-left: 4%;
    padding-right: 4%;
  }
  .about-text {
    font-size: 1.7rem;
    line-height: 1.6;
  }
  .custom-list {
    font-size: 1.7rem;
  }
}


@media (max-width: 1050px) {
    .phone-carousel-wrapper {
        display: block; /* Show the carousel on smaller screens */
    }
    .carousel-wrapper {
        display: none;
    }
}

@media (min-width: 1051px) {
    .phone-carousel-wrapper {
        display: none; /* Hide the carousel on larger screens */
    }
    .carousel-wrapper {
        display: block;
    }
}


@media (min-width: 992px) { /* Target large screens with a minimum width of 992px */
  .row {
    justify-content: center; /* This will center the columns in the row for flex items */
  }
  .col-lg-4 {
    display: flex; /* Make the column a flex container */
    justify-content: center; /* Center the card horizontally */
    padding: 0 15px; /* Adjust padding to control space between albums */
  }
  .col-lg-4 .card {
    margin: auto; /* Center the card within the column */
    width: 100%; /* Ensure card takes up full width of the column */
    max-width: 330px; /* Optional: Set a max-width if you want the cards to have a maximum size */
  }
}






.form-control:focus {
  border-color: blue; /* Change to your desired color */
  box-shadow: 0 0 0 0.25rem #808080; /* Grey box shadow */
}

.contact-form{
  margin-left: 100px;
}


.closing{
  font-size: 30px;
}







#testimonial-area .section-heading h2 {
  font-size: 50px;
  line-height: 58px;
}

.testi-wrap {
  position: relative;
  height: 725px;
  margin-top: -80px;
}

.client-single {
  margin-top: 20px;
  text-align: center;
  position: absolute;
  transition: all 1s ease;
}

.client-info,
.client-comment {
  transition: all 0.3s ease;
}

.client-single.inactive .client-comment,
.client-single.inactive .client-info {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.client-single.position-1 {
  transform: scale(0.65);
}

.client-single.position-2 {
  left: -40px;
  top: 105px;
}

.client-single.position-3 {
  left: -60px;
  top: 240px;
  transform: scale(0.4) !important;
}

.client-single.position-4 {
  left: 55px;
  top: 380px;
}

.client-single.position-5 {
  top: 30px;
  right: 55px;
}

.client-single.position-6 {
  top: 225px;
  right: -40px;
}

.client-single.position-7 {
  top: 400px;
  right: 45px;
  transform: scale(0.4) !important;
}

.client-single.active {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 70%;
}

.client-single.active .client-comment,
.client-single.active .client-info {
  transition-delay: 0.6s;
}



.client-single:not(.active) {
  transform: scale(0.55);
  z-index: 99;
}

.client-single.active .client-img {
  width: 160px;
  height: 160px;
  margin: 0 auto 24px;
  position: relative;
}

.client-single.active .client-img:before {
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(180deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
  padding: 5px;
  width: 160px;
  height: 160px;
  top: -4px;
  left: 0px;
  position: absolute;
  z-index: -1;
}

.round-img{
  border-radius: 50%;

}

.client-single.active .client-img img {
  max-width: 95%;
  margin: 0 auto 24px;
  border: 0;
}

.client-comment {
  padding: 0 30px;
}

.client-comment h3 {
  font-size: 30px;
  line-height: 32px;
  color: #505b6d;
}

.client-comment span i {
  font-size: 60px;
  color: #0084ff;
  margin: 40px 0 24px;
  display: inline-block;
}

.client-info h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 4px;
}

.client-info p {
  color: #0084ff;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #testimonial-area .section-heading h2 {
    font-size: 40px;
  }
  .client-comment h3 {
    font-size: 30px;
    line-height: 28px;
  }
  .client-single.active {
    width: 60%;
  }
  .client-single:not(.active) {
    transform: scale(0.55);
  }
  .client-single.position-3,
  .client-single.position-7 {
    transform: scale(0.3) !important;
  }
  .client-single.active .client-img img {
    max-width: 100px;
  }
  .client-single.active .client-img:before {
    padding: 5px;
    width: 108px;
    height: 108px;
    top: -4px;
    left: 6px;
  }
  .client-single.active .client-img {
    width: 120px;
    height: 100px;
  }
  .testi-wrap {
    height: 580px;
  }
  #testimonial-area {
    padding: 30px 0 50px;
  }
}


.white-section{
  background-color: white;
}

.album-title{
  background-color: : black;
}

.card:hover {
  transform: scale(1.05); /* Increase the scale factor for the desired effect */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}


.zoom-in-image {
  transition: transform 0.3s ease;
}

.zoom-in-image:hover {
  transform: scale(2); /* Adjust the scaling factor for desired zoom level */
}
.modal-dialog {
   max-width: 99%;
   margin: 0 auto;
 }



.portfolio{
  background-color: grey;
}

.link{
  color: #B30000;
}


/* Add this CSS to your stylesheet */
.carousel-button-container {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    z-index: 2; /* Make sure it appears above the image */
}
