/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
}

.feature-text{
  font-size: 27px;
  color: #CCCCCC;
  padding-bottom: 60px;
}


.container-fluid {
  text-align: center;

  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #333333;
  color: white;
  padding: 5px 10px;
  line-height: 1.2;
}

.navbar-brand {
  display: inline-block;
  margin-right: 15px; /* Add spacing between elements */
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-contact {
  color: white;
  font-size: 25px;
  padding: 15px;
}

.navbar-contact:hover {
  color: #FF4500;
}

.navbar-contact-text {
  color: #ECE4D7;
  font-size: 15px;
}

.whatsapp-logo {
  width: 17%;
}

.phone-logo {
  width: 20%;
}

.logo {
  width: 100px;
}

.logo-small-screen{
  width: 120px;
}


.nav-link {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.big-nav-link:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  color: #FF4500;
}

/* Navbar Dropdown */
.big-dropdown-menu {
  display: none;
}

.big-dropdown-menu.show {
  display: block;
}

.big-dropdown:hover .big-dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #555555;
  padding: 10px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

.big-dropdown-menu a:hover {
  background-color: #555555;
  color: #FF4500;
  transform: scale(1.1);
}


/* Increase contrast and add text shadow */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  color: white; /* Text color */
  padding: 10px; /* Add padding for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow */
  font-size: 20px;
}
.carouselText{
  font-size: 30px;
  font-weight: bold;

}



/* Headings */
.big-heading {
  font-size: 3.15rem;
  line-height: 1.3;
  padding-top: 6%;
  padding-left: 3%;
  font-family: 'Montserrat', sans-serif;
}

.about-text {
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 3%;
  font-family: 'Lato', sans-serif;
}

.dark-section {
  background-color: #444444;
  color: white;
  text-align: left;
    padding: 0 0 0 2%;
}

.footer-section {
  background-color: #333333;
  color: white;

}

.light-section {
  background-color: grey;
  color: white;
  text-align: left;
  padding: 0 2% 0 0;}

  /* p.light-section{
    color: black;
  } */

.white-section {
  background-color: white;
  text-align: center;
  color: black;
    padding: 2%;
}

.form-section {
  background-color: #AAAAAA;
}

.features {
  padding: 3% 0;
}

/* Title Image */
.fireplace-img {
  width: 100%;
  right: 100%;
}

.fireplace-title-img {
  width: 100%;
}

.order-button {
  background-color: #B30000;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  margin-top: 15px;
}

.order-button:hover {
  background-color: white;
  color: #B30000;
}

.contact-button {
  background-color: #B30000;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
}

.contact-button:hover {
  background-color: white;
  color: #B30000;
}

.custom-list {
  text-align: left;
  padding-left: 30%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.fireplace-icon {
  width: 12%;
}

.service-icon {
  padding-top: 2.5%;
  padding-bottom: 3%;
  width: 7%;
}


/* Contact Form */
.form-control {
  width: 170%;
}

.sidebar-text{
  color: white;
  font-size: 20px;

}

/* Update font size for offcanvas sidebar */
.offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 50px;
  padding-bottom: 50px;
}

.offcanvas-body .navbar-nav .nav-item .dropdown-item{
  font-size: 30px;
}

/* Increase the width of the offcanvas sidebar */
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80vw; /* Adjust this value as needed */}


/* Update offcanvas body width to fill the sidebar */
.offcanvas-body {
  width: 100%;
}

.phone-logo{
  width: 100px
}
.whatsapp-logo {
  width: 80px; /* Adjust the width as needed */
}

.phone-logo-top{
  width: 100%;
}
.whatsapp-logo-top{
  width: 90%;
}

.location {
  font-size: 100%;
  color: white;
  margin-left: 15px; /* Add spacing between elements */
  margin-right: 15px;
}


/* Update font size for the toggle button */
.navbar-toggler {
  font-size: 60px;

}

/* Media Query for smaller screens */
@media (max-width: 1050px) {
  .dark-section {
    position: static;
    text-align: center;
        width: auto;
  }
  .light-section {
    padding-left: 4%;
    padding-right: 4%;
  }
  .about-text {
    font-size: 1.7rem;
    line-height: 1.6;
  }
  .custom-list {
    font-size: 1.7rem;
  }
}


@media (max-width: 1050px) {
    .phone-carousel-wrapper {
        display: block; /* Show the carousel on smaller screens */
    }
    .carousel-wrapper {
        display: none;
    }
}

@media (min-width: 1051px) {
    .phone-carousel-wrapper {
        display: none; /* Hide the carousel on larger screens */
    }
    .carousel-wrapper {
        display: block;
    }
}
