body {
  font-family: "Montserrat";

}

/* Containers */
.container-fluid {
  text-align: center;
  background-color: #adadad;
 color: #5C3D2E;
 padding: 0;
}



/* NAVBAR */

.navbar{
  background-color: #333333 ;
  color: white;
  padding:  5px 10px;
  line-height: 1.2;
}

.navbar-contact{
  color: white;
  font-size: 15px;
}

.navbar-contact:hover{
  color: #FF4500  ;
}

.navbar-contact-text{
  color: #ECE4D7;
  font-size: 15px;

}

.logo{
  width: 5%;
}

.nav-link{
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    color: #FF4500 ;
  }


/* navbar dropdown */
.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #555555 ;
  padding: 10px;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s; /* Add transition property for smooth effect */

}

.dropdown-menu a:hover {
  background-color: #555555 ;
  color: #FF4500 ;
  transform: scale(1.1); /* Apply zoom effect on hover */
}


/* Headings */
.big-heading {
  font-size: 3.15rem;
  line-height: 1.3;
  padding-top: 6%;
  padding-left: 3%;
  font-family: 'Montserrat', sans-serif;

}

.about-text {
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 4%;
  font-family: 'Lato', sans-serif;

}

.dark-section{
  background-color: #444444 ;
  color: white;
  text-align: left;
  padding: 0 0 0 2%;

}


.light-section{
  background-color: #AAAAAA  ;
  color: black;
  text-align: left;
  padding: 0 2% 0 0;
}

.white-section{
  background-color: white;
  padding: 2%;
  text-aligh: center;
  color: black;
}

.features{
  padding: 3% 0;
}

/* Title Image */
.fireplace-img {
  width: 100%;
  right: 100%;
}

.fireplace-title-img{
  width: 100%;
}


.order-button{
  background-color: #B30000;
  margin: 3% 0;
  border-radius: 50px; /* Add border-radius property for rounded corners */
   font-size: 30px; /* Increase the font size */
   color: white;
   padding: 1% 10%;
}

.order-button:hover{
  background-color: white;
  color: #B30000;
}

.contact-button{
  background-color: #B30000;
  border-radius: 50px; /* Add border-radius property for rounded corners */
   font-size: 20px; /* Increase the font size */
   color: white;
   padding: 1% 5%;

}

.contact-button:hover{
  background-color: white;
  color: #B30000;
}


  .custom-list {
    text-align: left;
    padding-left: 40%;
  }

  .fireplace-icon{
    width: 12%;
  }


    .service-icon{
      padding-top: 2.5%;
      padding-bottom: 3%;
      width: 7%;
    }

    @media (max-width: 1050px) {
      .dark-section {
        position: static;
        text-align: center;
        width: auto;
      }
      .light-section {
        padding-left: 4%;
        padding-right: 4%;
      }



/* SLIDER */
/*
#slider-wrapper {
    background:url(images/top.jpg) no-repeat;
    width: 987px;
    height: 317px;
    margin:0 auto;
}

#slider {
    position:relative;
    width: 987px;
    height: 317px;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}

.nivo-controlNav {
    position:absolute;
    left: 0px;
    bottom:-32px;
    display: none;
}
.nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(images/bp.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.nivo-controlNav a.active {
    background-position:0 -22px;
    background:url(images/bp_hover.png) no-repeat;
}

.nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(images/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
}
a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
a.nivo-prevNav {
    left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
} */
